# for ssh
alias sshj='ssh root@120.25.104.45'
alias sshw='ssh root@121.41.26.86'
alias sshx='ssh root@115.29.148.60'
alias sshr='ssh msbox@tv.haly12333.org.cn'
alias sshp='ssh pi@192.168.1.243'
alias sshb='ssh -p 29928 root@65.49.223.13'

# shmetro testing server: web server
alias sshd='ssh -p 22 ubuntu@180.169.194.155'
# shmetro testing server: db server
alias sshdd='ssh -p 23 ubuntu@180.169.194.155'


# for git
alias pull='git pull origin master'
alias push='git push origin master'
alias gst='git status'

alias ip='ifconfig'
alias p3='python3'

# for Mac
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias safari='open -a safari'
alias zh='safari https://www.zhihu.com'
alias wb='safari https://weibo.com'

# for directory
alias cdc="cd ~/Coding"
alias cdn="cd ~/Coding/nodejs"
alias cds='cd ~/Coding/shell/'
alias cdw="cd ~/www"

# set shadowsocks console proxy 
alias proxy='export all_proxy=socks5://127.0.0.1:1080 && echo $all_proxy'
alias unproxy='unset all_proxy && echo $all_proxy'

# proxy trait: make php don't change /abc.html to http://host.com/abc.html 
export HTTP_PROXY_REQUEST_FULLURI=0
export HTTPS_PROXY_REQUEST_FULLURI=0
