
# set 'enable shadowsocks console proxy' alias

alias proxy='export all_proxy=socks5://127.0.0.1:1080 && export http_proxy=http://127.0.0.1:1087 && export https_proxy=http://127.0.0.1:1087'

# set 'disable shadowsocks console proxy' alias
alias unproxy='unset all_proxy && unset http_proxy && unset https_proxy'

# set 'show shadowsocks console proxy' alias
alias showproxy='echo "all_proxy: $all_proxy" && echo "https_proxy: $https_proxy"'

# proxy trait: make php don't change /abc.html to http://host.com/abc.html
# some proxy may need this trait disabled 
export HTTP_PROXY_REQUEST_FULLURI=0
export HTTPS_PROXY_REQUEST_FULLURI=0
